.pay {
    padding: var(--padding-section) 0;
}

.pay__content {
    display: flex;
    flex-direction: column;
}

.pay__title {
    display: flex;
    border-bottom: 1px solid #ececec;
    margin-bottom: 24px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.pay__item {
    display: flex;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .delete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        text-decoration: underline;
        cursor: pointer;
        font-size: 2rem;

        &:hover {
            color: #ff7b7b;
        }
    }
}

.pay__product {
    display: flex;
}

.product__image {
    width: 60%;
    padding-top: 32%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.product__info {
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__name {
    font-size: 2.4rem;
    line-height: 32px;
    font-weight: 600;
    padding-top: 16px;
}

.product__price {
    padding-top: 20px;
    font-size: 2rem;
}

.pay__trans {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    margin-top: 24px;

    button {
        padding: 12px;
        margin-top: 24px;
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--black);
        border-radius: 12px;
        border: none;
        font-size: 1.8rem;
        line-height: 16px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.sum__price {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-left: 80px;
    span {
        font-size: 2.4rem;
    }
}

.result__price {
    font-weight: 700;
    padding-left: 32px;
}
