.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.login {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.login.open {
    display: flex;
}

.login-form {
    width: 500px;
    background-color: #fff;
    border-radius: 12px;
    z-index: 1;
}

.form-header {
    display: flex;
    background-color: var(--primary-color);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.title-header {
    width: 50%;
    display: block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    font-size: 20px;
    color: #646464;
}

.title-header.form-active {
    font-weight: 600;
    color: #252525;
}

.form-info {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-main {
    display: none;
    padding: 0 24px 24px;
}

.form-main.form-active {
    display: block;
}

.input-login {
    width: 100%;
    padding: 12px 12px;
    border-bottom: 1px solid #cfcfcf;
    margin: 20px 0;
    font-size: 1.8rem;
}

.button-login {
    display: flex;
    justify-content: space-around;

    button {
        width: 150px;
        padding: 12px 0;
        border-radius: 12px;
        cursor: pointer;
        font-size: 1.6rem;
        background-color: var(--secondary-color);

        &:hover {
            opacity: 0.8;
        }
    }
}

.exten-login {
    display: flex;
    justify-content: space-around;
    line-height: 40px;
}

.save-login {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 16px;
    input {
        margin-left: 12px;
        width: 1.6rem;
    }
}

.login-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        border: 1px solid #cfcfcf;
        width: 70%;
        border-radius: 24px;
        margin: 2px 0;
        padding: 8px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .social-icon {
        color: #646464;
        margin: 0 12px;
        font-size: 1.6rem;
    }

    span {
        padding-left: 8px;
        font-size: 1.6rem;
        text-align: center;
        width: 100%;
        transform: translateX(-5%);
    }
}
