@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --primary-color: #c0e47d;
    --secondary-color: #feeab8;

    --nav-height: 86px;
    --padding-section: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.title {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
}

.text {
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    font-weight: lighter;
    margin-top: 12px;
    margin-bottom: 0;
}

.products {
    padding: var(--padding-section) 0 !important;
}

/* Start Filter */

.filter {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.btn--filter {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.6rem;
    &:hover {
        opacity: 0.8;
        background-color: #f1f1f1;
    }
}

.btn--primary {
    background-color: var(--secondary-color);
}

.select {
    padding: 12px 30px;
    position: relative;
    cursor: pointer;

    &:hover {
        .option {
            display: block;
        }
    }
}

.select-label {
    padding-right: 8px;
}

.option {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    background-color: #fff;
    display: none;
}

.item {
    list-style: none;
    min-width: max-content;
    z-index: 1;
    padding: 12px 20px;

    &:hover {
        background-color: var(--primary-color);
    }
}

.option--link {
    text-decoration: none;
    color: #252525;
}

/* End Filter */

/* Start Pagination */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    padding-top: var(--padding-section);
    justify-content: center;
}

.pagination-item__link {
    display: block;
    padding: 10px 18px;
}

.pagination-item {
    border-radius: 50%;
}

.pagination-item__active {
    background-color: var(--secondary-color);
}

/* End Pagination */
