.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
    span {
        font-size: 2.4rem;
        font-weight: 500;
    }
    button {
        padding: 12px 24px;
        background-color: var(--secondary-color);
        border-radius: 4px;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.col-name {
    margin-top: 12px;
    span {
        text-align: center;
    }
}

.feedback-menu {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    input {
        text-align: center;
        font-size: 1.6rem;
    }
    span {
        text-align: center;
    }
}

.image {
    display: flex;
    justify-content: center;
}

.action {
    text-decoration: underline;
    color: #2255ff;
    cursor: pointer;
    &:last-child {
        color: #ff4a4a;
    }
    &:hover {
        opacity: 0.8;
    }
}